body {
    font-family: "Gill Sans Extrabold", sans-serif;
    color: white;
    background-color: black;
}

#fs {
    width: 35%;
    height: .5px;
}

#scnd {
    width: 25%;
    height: .5px;
}

#title {
    font-family: Georgia, serif;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
}

#description {
    padding: 20px;
}

#container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
}

#survey-form {
    background-color: #333;
    padding: 20px;
    border-radius: 10px;
}

.profile {
    border: 1px solid #ccc;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
}

#form-grp {
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="number"],
textarea,
select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #007bff;
    color: white;
  
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

input[type="checkbox"] {
    margin-right: 5px;
}

textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

input[type="radio"] {
    margin-right: 5px;
}
